{% extends "base.html" %}

{% block title %}Criba{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Criba de Eratóstenes  </h1>
</div>

<p>
    Con este algoritmo encontraremos todos los números primos menores que el número introducido.
</p>


<form action="" method="POST">
    <div class="form-group">
        <label for="limite">Primos por debajo de (introducir número):</label>
        <input type="number" min="3" class="form-control w-25" name="limite" id="limite">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>

  <br/><br/><br/>
   <h3 style="color: rgb(226, 13, 13);">Resultado: </h3>
   <input class="resultados" type="text" name="resultado" id="resultado" value="{{ primos }}">

</form><br />



{% endblock %}
