
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Práctica 1 DAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pablo Ruiz Mingorance">
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
        <div class="Error">
          <h1 class="error">La url no está definida - ERROR 404 </h1>
          <img class="imagen" src="../static/img/imagen_error404.jpeg"/>
        </div>
  </body>
</html>